* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    /*
BLACK RUSSIAN: HEX: #121524 
CELLO: HEX: #384C65 
WEDGEWOOD: HEX: #485F88 
ECHO BLUE: HEX: #9DACCC 
LINK WATER: HEX: #C0C9DB
*/
--black-russian: #121524;
--cello: #384C65;
--wedgewood: #485F88;
--echo-blue: #9DACCC;
--link-water: #C0C9DB;
}
h1 {
font-size: 4em;
text-align: center;
}
body {
/* background-color: var(--black-russian); */
/* background: linear-gradient(var(--black-russian), var(--link-water)); */
 /* background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);   */
/* border: 5px solid transparent;
border-image: linear-gradient(to bottom, #22c1c3, #fdbb2d);
border-image-slice: 1;height: 1000vh; */
background: linear-gradient(to bottom, #090b11 10%, var(--black-russian) 20%);

font-family: 'Times New Roman', Times, serif;
line-height: 1.6;
color: var(--link-water);
text-decoration-color: #0066cc;

/* background-image: url('Images/The_Gyoza_Fairy.png');
background-repeat: no-repeat;
background-position: center;
background-size: 50% 50%; */
}
/* #particle-canvas{
    display: block;
    margin: 0 auto;
    outline: 5px solid rgb(247, 92, 92);
} */

#blender-stuff {
    display: flex;
    align-items: right; /* vertically aligns text with image */
    flex-direction: row-reverse;
    gap: 20px; /* space between them */
    font-size: 2em;
    padding-left: 100px;
}
#sculpture-stuff {
    display: flex;
    align-items: left; /* vertically aligns text with image */
    flex-direction: row;
    gap: 20px; /* space between them */
    font-size: 2em;
    padding-right: 100px;
}
#drawing-stuff {
    display: flex;
    align-items: left; /* vertically aligns text with image */
    flex-direction: row-reverse;
    gap: 20px; /* space between them */
    font-size: 2em;
    padding-left: 100px;
}
#photography-stuff{
    display: flex;
    align-items: left; /* vertically aligns text with image */
    flex-direction: row;
    gap: 20px; /* space between them */
    font-size: 2em;
    padding-right: 100px;
}
#pixel-stuff{
    display: flex;
    align-items: left; /* vertically aligns text with image */
    flex-direction: row-reverse;
    gap: 20px; /* space between them */
    font-size: 2em;
    padding-right: 100px;
}
#cooking-stuff{
    display: flex;
    align-items: left; /* vertically aligns text with image */
    flex-direction: row;
    gap: 20px; /* space between them */
    font-size: 2em;
    padding-right: 100px;
}

.hero-canvas {
    position: absolute;
    inset: 0;                     /* shorthand: top/right/bottom/left = 0 */
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;

    /* outline: #f81010 solid 5px; */
}
#heroCanvasContainer {
    position: none;

    width: 100%;
    height: 80vh;
}
.button { /*POI 1*/
    display: inline-block;
    background-color: var(--link-water);
    color: #000000;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    font-weight: black;
    transition: 0.3s ease-in-out 0.1s;
}
.button:hover {
    background-color: var(--echo-blue);
    color: #000000;
    transform: scale(1.1);
    outline: var(--cello) solid 5px;
}
ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    gap: 120px;
    padding: 100px;
    /* padding-left: 100px; */
}
.container{
    padding: 100px;
    /* background: radial-gradient(circle, transparent, var(--cello)); */
}
img {
    display: block;
}

.focus-frame img{
    padding: 0;
    border: none;
    background: none;
    display: inline-block;
    transition: 1s ease;
    transform-origin: center;
}
/* .focus-frame:hover img {
    outline: var(--echo-blue) solid 5px;
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
} */
.focus-frame.left-container:hover img {
    /* transition: 1s ease-in-out; */
    outline: var(--echo-blue) groove 5px;
    transform: scale(1.5) translateX(-80%)
}

.focus-frame.right-container:hover img {
    outline: var(--echo-blue) groove 5px;
    transform: scale(1.5) translateX(80%);
    /* transition: 1s ease-in-out; */
}
p {
margin-bottom: 1em;
text-align: center;
font-size: 1.5rem;
}
.shiny-p {
background-image: radial-gradient(circle, var(--echo-blue), var(--wedgewood));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

.s-p {
font-size: .8rem;
}
#IT_p_gallery {
display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
flex-shrink: 10;
flex-grow: 10;
outline: 5px solid rgb(0, 0, 0);
}
#introduction{
    
    text-align: center;
    text-wrap-mode: wrap;
}
a {
color: #0066cc;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
.overflow-text{
    width: 300px;
    height: 500px;
    word-wrap: break-word;
    overflow: hidden;
    background-color: var(--wedgewood);
    border-radius: 8px;
    color: var(--black-russian);
        
    transition: 1s ease;
    transform-origin: center;
}
.overflow-text:hover{
    overflow: auto;
    background-color: var(--echo-blue);
    scrollbar-width: none;

    outline: var(--cello) groove 5px;
}
